/* CreateCustomerFolder.css */

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite; /* Apply animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .status-message {
    margin-top: 10px; /* Adjust the margin as needed */
    font-weight: bold;
  }
  
  .status-message.error {
    color: red;
  }
  
  .status-message.success {
    color: green;
  }
  